/*
TABLE OF CONTENT

1. GENERAL STYLES
2. NAVBAR STYLES
3. GALLERY STYLES

*/

/* GENERAL STYLES */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-block: 2rem;
}

/* NAVBAR STYLES */
.navbar-links {
    background-color: #eee;
}

.navbar-link {
    padding: 16px 24px;

    transition: all .5s ease;
}

.navbar-link.active {
    background-color: #06984d;
    color: white;
}

.navbar-link a {
    text-decoration: none;
    color: currentColor;
}

.navbar-link:not(.active):hover {
    background-color: #242424;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .navbar-links {
        display: flex;
        background-color: #393838;
        color: #fff;
    }

    .navbar-link:last-child {
        margin-left: auto;
    }
}

/* GALLERY STYLES */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
}

.gallery-item {
    border: 1px solid #b8b7b7;
}

.gallery-item:hover {
    border: 1.2px solid #636363;
}

.gallery-item__image {
    width: 100%;
    overflow: hidden;
}

.gallery-item__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item__content {
    padding: 12px;
}

@media screen and (min-width: 768px) {
    .gallery {
        justify-content: center;
    }

    .gallery-item {
        max-width: 180px;
    }
}
